# Ignore all log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore all folders ending with 'iteration'
**/*iteration/

# Other stuff to ignore
scraper.js
result*.txt
package-lock.json
pricingData.json
pricingData.txt